$mdc-theme-primary: #000;
$mdc-theme-secondary: #388e3c;
$mdc-theme-background: #fff;

@import '~@angular-mdc/theme/material';

html,
body {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

div.container {
	margin-top: 80px;
}
