<mdc-drawer #temporary drawer='temporary' [fixedAdjustElement]="demoTemporaryContent" class="demo-drawer--custom">
  <mdc-drawer-header>
    <mdc-drawer-header-content>
      Header goes here
    </mdc-drawer-header-content>
  </mdc-drawer-header>
  <mdc-drawer-content>
    <mdc-list-group>
      <mdc-list>
        <mdc-list-item>
          <mdc-icon mdc-list-item-graphic>home</mdc-icon>Home
        </mdc-list-item>
        <mdc-list-item>
          <mdc-icon mdc-list-item-graphic>star</mdc-icon>Star
        </mdc-list-item>
        <mdc-list-item>
          <mdc-icon mdc-list-item-graphic>send</mdc-icon>Sent Mail
        </mdc-list-item>
        <mdc-list-item>
          <mdc-icon mdc-list-item-graphic>drafts</mdc-icon>Drafts
        </mdc-list-item>
        <mdc-list-divider></mdc-list-divider>
        <mdc-list-item>
          <mdc-icon mdc-list-item-graphic>email</mdc-icon>All Mail
        </mdc-list-item>
        <mdc-list-item>
          <mdc-icon mdc-list-item-graphic>delete</mdc-icon>Trash
        </mdc-list-item>
        <mdc-list-item>
          <mdc-icon mdc-list-item-graphic>report</mdc-icon>Spam
        </mdc-list-item>
      </mdc-list>
    </mdc-list-group>
  </mdc-drawer-content>
</mdc-drawer>